/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 13px; line-height: 1.4; }


html, body { min-height: 100%; }

::-moz-selection { background: #3BA3D0; color: #fff; text-shadow: none; }
::selection { background: #3BA3D0; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('../font/PTN57F-webfont.eot');
    src: url('../font/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/PTN57F-webfont.woff') format('woff'),
         url('../font/PTN57F-webfont.ttf') format('truetype'),
         url('../font/PTN57F-webfont.svg#PTSansNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBold';
    src: url('../font/PTS75F-webfont.eot');
    src: url('../font/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/PTS75F-webfont.woff') format('woff'),
         url('../font/PTS75F-webfont.ttf') format('truetype'),
         url('../font/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansItalic';
    src: url('../font/PTS56F-webfont.eot');
    src: url('../font/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/PTS56F-webfont.woff') format('woff'),
         url('../font/PTS56F-webfont.ttf') format('truetype'),
         url('../font/PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansRegular';
    src: url('../font/PTS55F-webfont.eot');
    src: url('../font/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/PTS55F-webfont.woff') format('woff'),
         url('../font/PTS55F-webfont.ttf') format('truetype'),
         url('../font/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '../font/PTSansNarrowBold';
    src: url('../font/PTN77F-webfont.eot');
    src: url('../font/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/PTN77F-webfont.woff') format('woff'),
         url('../font/PTN77F-webfont.ttf') format('truetype'),
         url('../font/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { background-color: #232323; font-family: 'PTSansRegular', Verdana, Arial, Helvetica, sans-serif; color: #CECECE; font-size: 13px; padding-bottom: 30px; }

a:link,
a:visited,
a:hover,
a:active { color: #CECECE; }

p { margin: 0 0 10px 0; line-height: 1.3em; }

ul { margin: 0; padding: 0; }

.wrapper { width: 960px; margin: 0 auto; }
#gensend { width: 960px; margin: 0 auto; text-align: center; }
.password { font-family: Courier; font-weight: normal; }
.phonetic { font-size: 13px; }

header { text-align: center; }
    header h1 { font-size: 500%; color: #E7E7E7; margin: 15px 0 2px 0; font-weight: normal; }
        header h1 a { text-decoration: none; color: #E7E7E7; }
        header h1 a:hover { text-decoration: underline; }
    header h3 { font-size: 93%; color: #8A8A89; margin: 0; font-weight: normal; padding: 0 0 40px 0; text-transform: uppercase; background: transparent url(../img/shadow.png) center bottom no-repeat; }

#gensend #buttons { margin-top: 40px; }
    #gensend #buttons a { padding: 20px 5px; width: 255px; line-height: 1.7em; text-decoration: none; background-color: #1E1E1E; font-size: 120%; border: 1px solid #8B8B8B; color: #E7E7E7; display: block; margin: 0 auto 20px auto; }
        #gensend #buttons a span { font-size: 200%; text-transform: uppercase; display: block; }
    #gensend #buttons a:hover { background-color: #313131; }
    
    #gensend #buttons .or { font-size: 130%; color: #807F7F; margin-bottom: 20px; }
    
.footnotes { color: #626262; margin-top: 40px; background: transparent url(../img/shadow.png) center top no-repeat; padding: 30px 0 10px 0; }

.col1 { width: 46%; float: left; }
.col2 { width: 46%; float: right; }
    .col2 .notes { text-align: right; font-size: 93%;  }
    
.narrow { width: 450px; margin: 0 auto; }


/* form & containing styles */
form label { float: left; margin-right: 10px; }
form textarea { padding: 3px 5px; text-align: center; font-family: Courier; font-size: 130%; width: 440px; height: 80px; line-height: 1.1em; text-decoration: none; background-color: #1E1E1E; border: 1px solid #8B8B8B; color: #E7E7E7; }
form input[type=text] { padding: 3px 5px; width: auto; float: right; line-height: 1.7em; text-decoration: none; background-color: #1E1E1E; border: 1px solid #8B8B8B; color: #E7E7E7; }
form input[type=checkbox] { float: right; margin-right: 12px; margin-top: 2px; }
form input[type=submit] { padding: 10px; width: auto; font-size: 140%; line-height: 1.7em; text-decoration: none; background-color: #1E1E1E; border: 1px solid #8B8B8B; color: #E7E7E7; }

form ul { list-style-type: none; }
    form ul li{ height: 40px; margin-bottom: 10px; }

form input#length, form input#expire_days, form input#expire_views { width: 25px; text-align: center; }

form input#expire_days, form input#expire_views { margin-left: 60px; float: left; }
form#secure_send label { float: right; margin-right: 65px; text-align: left; width: 30px; }

form.transfer { margin-bottom: 40px; background: transparent url(../img/shadow.png) center bottom no-repeat; padding: 25px 0 40px 0; }
.securesend-password { margin-bottom: 20px; }
.generated_url { margin: 20px 0; font-size: 155%; font-weight: normal; }

.password_display { margin: 30px 0 40px 0; font-size: 195%; }

.copy { text-align: left; color: #8B8B8B; }
hr.sub { width: 600px; margin: 0 auto; height: 1px; background-color: #CECECE; }
footer { color: #828282; text-align: center; background: transparent url(../img/shadow.png) center top no-repeat; padding: 20px 0 0 0; margin: 20px 0 30px 0; }
    
    footer a:link, footer a:visited, footer a:hover, footer a:active { color: #828282; }
    
    footer #footer_menu { list-style-type: none; padding: 0; text-transform: uppercase; }
        footer #footer_menu li { display: inline; margin-right: 20px; }
        footer #footer_menu .last { margin-right: 0; }
        
        
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
